@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;400;500;700;900&display=swap');
body{margin: 0;}
.zone1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(201, 202, 202, 0.048);
}


.zone2 {
  margin-top: -5em;
  display: flex;
  flex-direction:row;
  align-items: center;
  border-bottom:solid 0.1em #9fa0a4 ;
  justify-content: space-between;
  margin-left: -7em;
  
  
}

.zone2-1{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 10em 1em -1em 10em;
  font-size: 1.2em;
  text-align: center;
  }
.zone2-1>p{
  font-family: 'Barlow',sans-serif;
  font-size: 1.2em;
  margin: 0em 0em 0.2em 5em;
  color: #0d141a4e;
   height: 3em;
   margin-top: 7em;
}
.zone2-1>h2{
  
  margin-left: 1em;
  font-family: 'Quicksand',sans-serif;
  font-size: 2em;
  font-weight: 2em;;
  color: #344f66;
}
button {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  padding: 10px 20px;
  background-color: #344f66;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
}
.bodyimg{
  height: 50%;
   width:60%;
  align-self: center;
  margin: 1em 10em 0 3em;

}
.mainBody{
  display: flex;
  background-color: #4750580a;
  justify-content: center;
}
#searchArea{
  font-size:1.2em;
  max-height: 1.5em;
  align-content: center;
}
footer{  
  margin: 0;
  background-color: #344f6605;
  display: flex;
  flex-direction: column;
text-align:center;
font-family: "Quicksand";
padding:1em;
font-weight: 900;
font-size: 1.5em;
color:#344f66 ;}
footer>h1{max-width: 15em;align-self: center;font-size: 1.4em;}
footer>p{font-weight: 300;
  font-size: 0.8em;
max-width: 11em;align-self: center;}

.smallScreenP{
  align-self: flex-start;
  text-align:  center;
  visibility: hidden;
  font-family: 'Barlow',sans-serif;
  font-size:1.5em;
  color: #0d141a4e;
   height: 3em;


}
.fillerZoneCards{
  padding:2em;
  display:flex;
  flex-direction:row}
  .footerEnd{
    width: 100%;
    margin: 0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color:#344f66;
    color:white;
    line-height:2.5em
  }
.footfiller{  
    margin: 0; padding-right: 10px;}


@media only screen and (max-width:1300px) {
    .zone2{flex-direction:column;}
    .zone2-1>p{
      visibility: hidden;
    flex-shrink: 1;
    margin-top: -6em;}
    .zone2-1>h2{
      margin-left: -1.5em;
    }
    .smallScreenP{visibility: visible;
   margin-bottom: -0.7em;
   margin-left: 7em;}
}
@media only screen and (max-width:900px){
  #component-outlined{
    max-width: 150px;
  }
}
@media only screen and (max-width:760px){
  .footerEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footerEnd .footfiller{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerEnd .footfiller ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
  }
}

@media only screen and (max-width:600px) {
  .zone2-1>h2{transform: scale(0.8);}
  
  .smallScreenP{visibility: visible;
  margin-left: 4.8em;
  }
  #searchArea{
    transform: scale(0.6);
    height: 0.5em;
    margin-left: -1.2em;
  }
  #TFIcon{transform: scale(0.8);
    margin-left: -0.3em;
  width: 0.5em;}
  .fillerZone>h1{transform: scale(0.8);}
  .fillerZoneCards{display: flex;flex-direction: column;}

}
@media only screen and (max-width:430px){
  .smallScreenP{margin-bottom: 10px;}
}