.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;

}


.carousel-container img {
  width: 450px;
  height: 260px;
  object-fit: cover;
}

@media only screen and (max-width:1300px) {
 .carousel{
  padding-left: 170px;
  margin-top: 50px;
  }
}
@media only screen and (max-width:600px) {
  .carousel{
    margin-left: -2em;
    margin-bottom: -3em;
  }}
@media only screen and (max-width: 430px){
  .carousel{
  transform: scale(0.8);
}

}